body {
  padding: 40px;
  background-color: #fffdf9;
}

.hyperlink-row {
  padding-bottom: 3px;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h2 {
  font-family: 'Arial', 'Helvetica', sans-serif;
}

a:hover {
  color: rgb(28, 58, 156);
}

a:visited { 
  color: #0000EE; 
}

.center {
  text-align: center;
  padding-top: 12%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.child {
  margin-right: 25px;
  margin-bottom: 10px
}