body {
  padding: 40px;
  background-color: #fffdf9;
}

.hyperlink-row {
  padding-bottom: 3px;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h2 {
  font-family: 'Arial', 'Helvetica', sans-serif;
}

a:hover {
  color: rgb(28, 58, 156);
}

a:visited { 
  color: #0000EE; 
}

.center {
  text-align: center;
  padding-top: 12%;
}

@media (max-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
}