<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../views/mystyle.css">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">      
    <title>Reddit Saved</title>
</head>
<body class="center">
    <h1>Reddit Saved</h1>
    <p style="width:410px;margin:auto;padding-bottom:30px">In order to use this tool you must give the app certain permissions. You can read and approve these permissions by clicking the blue button below.</p>
    <input type="button" class="btn btn-primary" onclick="location.href='{{authenticationUrl}}';" value="Login With Reddit" />
</body>
</html>